<h1> Edit Concert performer </h1>

<%= form_with(model: @concerts_performer, local: true) do |form| %>
 
  <% if @concerts_performer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@concerts_performer.errors.count, "error") %> prohibited
        this performer style from being saved:
      </h2>
      <ul>
        <% @concerts_performer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :performer_id %><br>
    <%= form.collection_select :performer_id, Performer.all, :id, :name %>
  </p>

  <p>
    <%= form.label :concert_id %><br>
    <%= form.grouped_collection_select :concert_id, FestivalDay.all, :concerts, :date, :id, :start_time%>
  </p>

  <p>
    <%= form.submit %>
  </p>performers_style
 
<% end %>

<%=link_to 'Back', welcome_index_path %>