<%= form_with(model: @organizer, local: true) do |form| %>
 
  <% if @organizer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@organizer.errors.count, "error") %> prohibited
        this organizer from being saved:
      </h2>
      <ul>
        <% @organizer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>