<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Festivals</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/welcome/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/festivals">Festivals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/concerts">Concerts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/performers">Performers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/performers_styles">Performer Styles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/organizers">Organizers</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<h1>Listing Festival Days</h1>


<%= link_to 'New festival day ', new_festival_day_path %>


<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">festival_day</th>
    <th scope="col">Date</th>
    <th></th>
  </tr>
</thead> 

<tbody>
  <% @festival_days.each do |festival_day| %>
    <tr class="table-active">
      <td><%= Festival.where("id = ?", festival_day.festival_id).pluck(:name).first %></td>
      <td><%= festival_day.date.to_date %></td>
      <td><%= link_to 'Show', festival_day_path(festival_day) %></td>
      <td><%= link_to  'Edit', edit_festival_day_path(festival_day) %>
      <td><%= link_to  'Destroy', festival_day_path(festival_day), method: :delete,
      data: { confirm: "Are you sure? This will remove all dependent resources"} %></td>
      <td><%= link_to "Concerts", concerts_path(:festival_day_id=>festival_day.id, :festival_id => params[:festival_id]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%=link_to 'Back', welcome_index_path %>
<%=link_to 'Back to festivals', festivals_path %>