<%= form_with(model: @concert, local: true) do |form| %>
 
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@concert.errors.count, "error") %> prohibited
        this concert from being saved:
      </h2>
      <ul>
        <% @concert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
  <%= form.label :start_time %><br>
  <%= form.text_field :start_time%>
  </p>

  <p>
  <%= form.label :end_time %><br>
  <%= form.text_field :end_time%>
  </p>

  <p>
    <%= form.label :festival_day_id%><br>
    <%= form.grouped_collection_select :festival_day_id, Festival.all, :festival_days, :name, :id, :date%>
  </p>



  <p>
    <%= form.submit %>
  </p>
 
<% end %>

<%=link_to 'Back', concerts_path %>